<h1>Editing prototype</h1>

<%= render "form", prototype: @prototype %>

<br>

<div>
  <%= link_to "Show this prototype", @prototype %> |
  <%= link_to "Back to prototypes", prototypes_path %>
</div>
