.prototype_body_12 {
  background: var(--medium-grey);
  font-family: Helvetica, Arial, sans-serif;
}

#prototype_12 {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // height: 100%;
  margin: auto;

  .instrumentUIContainer,
  .instrumentUI {
    width: 560px;
  }

  .Container {
    & > .SC_Button:first-child {
      width: 560px;
      height: 140px;
      // margin: auto;
      margin-bottom: 20px;
      color: var(--black);
      background: var(--acid-green);
      font-family: ADC, Helvetica, Arial, sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      font-size: 30px;
      line-height: 150px;
    }

    .SC_ToggleButton {
      padding: 8px 10px;
      font-size: 14px;
      text-align: center;
      text-transform: capitalize;
      background-color: var(--white);
      color: var(--black);
      cursor: pointer;

      &:hover:not(.active) {
        background-color: var(--light-grey);
      }

      &.active {
        font-weight: 800;
        color: var(--black);
        background-color: var(--dark-green);
        cursor: default;
      }
    }

    .SC_Slider {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      h3 {
        margin-bottom: 14px;
        font-size: 16px;
      }

      input[type='range'] {
        -webkit-appearance: none;
        width: 100%;

        &::-webkit-slider-runnable-track {
          height: 4px;
          background: var(--white);
          border: none;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: none;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background: var(--dark-green);
          margin-top: -6px;
          cursor: pointer;
        }

        &:focus {
          outline: none;

          &::-webkit-slider-runnable-track {
            background: var(--white);
          }
        }
      }
    }

    .SC_Knob {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .wrapper {
        position: relative;
        width: 180px;
        height: 180px;
        margin-bottom: 14px;
        user-select: none;
        /* background: var(--medium-grey); */

        h3 {
          text-align: center;
          text-transform: uppercase;
          color: var(--white);
        }
      }

      .body {
        position: absolute;
        left: 60px;
        top: 86px;

        div {
          position: absolute;
          top: 0;
          left: 0;
          width: 60px;
          height: 60px;
          background: var(--white);
          border-radius: 50px;
          z-index: 1;

          &:hover {
            filter: brightness(90%);
            cursor: pointer;
          }

          &::before {
            position: absolute;
            top: 0;
            left: 28px;
            display: block;
            content: '';
            width: 4px;
            height: 20px;
            background: var(--dark-green);
          }
        }
      }

      .value {
        position: absolute;
        top: 55px;
        width: 100%;
        text-align: center;
        font-family: sans-serif;
        font-size: 12px;
        display: flex;
        width: 22px;
        height: 13px;
        font-size: 10px;
        font-weight: 400;
        color: var(--white);
      }

      .bullet {
        width: 4px;
        height: 9px;
        background-color: var(--white);
      }

      .group {
        position: absolute;
        height: 93px;
        width: 4px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }

      #group1 {
        transform: rotate(90deg);
        left: 88px;
        top: 70px;
      }

      #group2 {
        transform: rotate(45deg);
        left: 89px;
        top: 70px;
      }

      #group3 {
        top: 70px;
        left: 87px;
        transform: rotate(-45deg);
      }

      .lastBullet {
        width: 4px;
        height: 9px;
        left: 88px;
        top: 70px;
        background-color: var(--white);
        position: absolute;
      }

      .name {
        position: absolute;
        top: 14px;
        left: 15px;
        width: 150px;
        height: 20px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
      }

      #value7 {
        top: 148px;
        left: 31px;

        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        text-align: right;
      }

      #value9 {
        top: 109px;
        left: 15px;

        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        text-align: right;
      }

      #value11 {
        top: 71px;
        left: 31px;

        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        text-align: right;
      }

      #value12 {
        top: 55px;
        left: 79px;

        text-align: center;
        justify-content: center;
        align-items: center;
      }

      #value2 {
        top: 71px;
        right: 31px;

        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
      }

      #value3 {
        top: 109px;
        right: 15px;

        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
      }

      #value5 {
        top: 148px;
        right: 31px;

        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
      }
    }

    .Surface {
      position: relative;
      width: 560px;
      height: 300px;
      margin: 50px 0;
      background: var(--grey);

      .pointer {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: var(--acid-green);
        cursor: pointer;
      }
    }

    .Select {
      margin: 30px 0;
      background: white;
      cursor: pointer;

      .currentValue {
        padding: 10px 20px;
        line-height: 30px;
      }

      .options {
        .SelectItem {
          padding: 10px 20px;
          line-height: 30px;

          &:hover {
            background: lightgrey;
          }

          &.active {
            background: var(--acid-green);
          }
        }
      }
    }
  }
}
