body.prototype_body_45 {
  font-family: 'PT Root UI', Helvetica, Arial, sans-serif;

  .saveButton {
    position: fixed;
    top: 40px;
    right: 40px;
    background-color: green;
    color: white;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    text-transform: uppercase;
  }
}

#prototype_45 {
  display: flex;
  width: 100%;

  .wrapper {
    position: relative;
    width: 700px;
    height: 410px;
    margin: auto;

    canvas,
    .image {
      position: absolute;
    }

    .image {
      width: 100%;
      height: 100%;
      background-image: image-url('deepface-dark-green-black.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
