#prototype_1 {
  display: flex;
  height: 100%;
  margin: auto;

  .frame {
    width: 560px;
    height: 140px;
    margin: auto;
    color: var(--black);
    background: var(--acid-green);
    font-family: ADC, Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 150px;
  }
}
