#prototype_28 {
  position: relative;
  width: 1080px;
  max-width: 1080px;
  min-width: 1080px;
  height: 1920px;
  margin: auto;
  background: black;
  overflow: hidden;

  .circle {
    position: absolute;
    background-size: cover;

    &.large-circle-white {
      border: 1px solid white;
      border-radius: 50%;
    }
  }
}
