.prototype_body_19 {
  background: var(--medium-grey);
  font-family: Helvetica, Arial, sans-serif;
}

#prototype_19 {
  width: 100%;
  margin: auto;

  .Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;

    .SC_Button {
      width: 560px;
      height: 140px;
      margin: auto;
      // margin-bottom: 20px;
      color: var(--black);
      background: var(--acid-green);
      font-family: ADC, Helvetica, Arial, sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      font-size: 30px;
      line-height: 150px;
    }
  }
}
